.main-header {
  font-family: var(--main-header);
}

.subheader {
  font-family: var(--main-subheader);
}

/* orig stylings */
.w3-sidebar {
  width: 7rem;
  background: #222;
}

#myNavbar {
  margin: 0 auto;
}

@media only screen and (max-width: 300px) {
  #main {
    margin-left: 0
  }
}

.photogrid-main {
  margin: 0 -16px;

}

.photo-grid-pic {
  width: 100%;
}

.skills-item {
  height: 28px;
}